src/cpp/GTServer/GTServer/Debug/
src/cpp/GTServer/GTServer/Release/
src/cpp/GTServer/GTServer.VC.db
src/cpp/GTServer/GTServer.VC.VC.opendb
src/cpp/GTServer/.vs/GTServer/v14/.suo
src/cpp/GTServer/Build/
src/cpp/GTServer/temp/
src/cpp/GTServer/.vs/
src/cpp/GTServer/GTest/Debug/
src/cpp/GTServer/GTest/Release/
src/cpp/GTServer/Build/*
src/cpp/GTServer/temp/*
src/cpp/GTServer/ipch/*
*.ilk
*.exp
*.db
*.exe
*.ilk
*.dll
*.exp
*.pdb
*.obj
*.tlog
*.log
*.idb
*.dll
*.exe
src/cpp/GTServer/Build/x64/Debug/GTUnitTest.exe
src/cpp/GTServer/Build/x64/Debug/GTUtlity.lib
src/cpp/GTServer/GTServer.VC.db
*.ipch
*.exe
src/cpp/GTServer/.vs/GTServer/v14/.suo
*.db
src/cpp/GTServer/GTEpoll/CMakeFiles/*
src/cpp/GTServer/GTEpoll/test/CMakeFiles/*
src/cpp/GTServer/GTEpoll/test/test_client/CMakeFiles/*
src/cpp/GTServer/GTEpoll/test/test_server/CMakeFiles/*
